<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.CrtExpiredPersonRecordMapper">
  <resultMap id="BaseResultMap" type="model.CrtExpiredPersonRecord">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CRT_EXPIRED_RECORD_ID" jdbcType="VARCHAR" property="crtExpiredRecordId" />
    <result column="AML_BENEFICIARY_ID" jdbcType="VARCHAR" property="amlBeneficiaryId" />
    <result column="FILE_RECORD_ID" jdbcType="VARCHAR" property="fileRecordId" />
    <result column="HANDLE_TYPE" jdbcType="TIMESTAMP" property="handleType" />
    <result column="OTC_DERIV_CTPTY_ID" jdbcType="VARCHAR" property="otcDerivCtptyId" />
    <result column="VALID_DATE_START_OLD" jdbcType="TIMESTAMP" property="validDateStartOld" />
    <result column="VALID_DATE_END_OLD" jdbcType="TIMESTAMP" property="validDateEndOld" />
    <result column="VALID_DATE_START_NEW" jdbcType="TIMESTAMP" property="validDateStartNew" />
    <result column="VALID_DATE_END_NEW" jdbcType="TIMESTAMP" property="validDateStartNew" />
    <result column="CREATED_DATETIME" jdbcType="TIMESTAMP" property="createdDatetime" />
    <result column="ENTITY_TYPE" jdbcType="VARCHAR" property="entityType" />
    <result column="CREATED_DATETIME" jdbcType="TIMESTAMP" property="createdDatetime" />
    <result column="NAME" jdbcType="VARCHAR" property="name" />
    <result column="ID_KIND" jdbcType="VARCHAR" property="idKind" />
    <result column="ID_NO" jdbcType="VARCHAR" property="idNo" />
    <result column="ENTITY_ID" jdbcType="VARCHAR" property="entityId" />
    <result column="CATEGORY" jdbcType="VARCHAR" property="category" />

  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID,CRT_EXPIRED_RECORD_ID,AML_BENEFICIARY_ID,FILE_RECORD_ID,,HANDLE_TYPE,OTC_DERIV_CTPTY_ID,VALID_DATE_START_OLD,
    VALID_DATE_END_OLD,VALID_DATE_START_NEW,VALID_DATE_END_NEW,CREATED_DATETIME,ENTITY_TYPE,NAME,ID_KIND,ID_NO,ENTITY_ID,
    CATEGORY
  </sql>

  <select id="selectByIdNo" parameterType="java.lang.String" resultMap="BaseResultMap">
    SELECT DISTINCT CRT_EXPIRED_RECORD_ID FROM
    CRT_EXPIRED_PERSON_RECORD abc
    LEFT JOIN CRT_EXPIRED_RECORD ac on abc.CRT_EXPIRED_RECORD_ID = ac.RECORD_ID
    WHERE
      abc.ID_NO = #{idNo,jdbcType=VARCHAR}
      AND ac.CURRENT_STATUS !='CLOSED'
      AND ac.current_status !='CANCELLED'
  </select>


</mapper>