<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="sql.CrtExpiredRecordUnionMapper">
  <resultMap id="BaseResultMap" type="model.CrtExpiredRecordUnion">
    <id column="ID" jdbcType="VARCHAR" property="id" />
    <result column="CLIENT_ID" jdbcType="VARCHAR" property="clientId" />
    <result column="CRT_EXPIRED_RECORD_ID" jdbcType="VARCHAR" property="crtExpiredRecordId" />
    <result column="CREATE_TIME" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ID, CLIENT_ID, CRT_EXPIRED_RECORD_ID, CREATE_TIME
  </sql>
  <select id="selectByExample" parameterType="model.CrtExpiredRecordUnionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from CRT_EXPIRED_RECORD_UNION
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from CRT_EXPIRED_RECORD_UNION
    where ID = #{id,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from CRT_EXPIRED_RECORD_UNION
    where ID = #{id,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="model.CrtExpiredRecordUnion">
    insert into CRT_EXPIRED_RECORD_UNION (ID, CLIENT_ID, CRT_EXPIRED_RECORD_ID, 
      CREATE_TIME)
    values (#{id,jdbcType=VARCHAR}, #{clientId,jdbcType=VARCHAR}, #{crtExpiredRecordId,jdbcType=VARCHAR}, 
      #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="model.CrtExpiredRecordUnion">
    insert into CRT_EXPIRED_RECORD_UNION
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        ID,
      </if>
      <if test="clientId != null">
        CLIENT_ID,
      </if>
      <if test="crtExpiredRecordId != null">
        CRT_EXPIRED_RECORD_ID,
      </if>
      <if test="createTime != null">
        CREATE_TIME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=VARCHAR},
      </if>
      <if test="clientId != null">
        #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="crtExpiredRecordId != null">
        #{crtExpiredRecordId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="model.CrtExpiredRecordUnion">
    update CRT_EXPIRED_RECORD_UNION
    <set>
      <if test="clientId != null">
        CLIENT_ID = #{clientId,jdbcType=VARCHAR},
      </if>
      <if test="crtExpiredRecordId != null">
        CRT_EXPIRED_RECORD_ID = #{crtExpiredRecordId,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        CREATE_TIME = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where ID = #{id,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="model.CrtExpiredRecordUnion">
    update CRT_EXPIRED_RECORD_UNION
    set CLIENT_ID = #{clientId,jdbcType=VARCHAR},
      CRT_EXPIRED_RECORD_ID = #{crtExpiredRecordId,jdbcType=VARCHAR},
      CREATE_TIME = #{createTime,jdbcType=TIMESTAMP}
    where ID = #{id,jdbcType=VARCHAR}
  </update>

</mapper>